click==8.0.3; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
flask==2.0.3; python_version >= "3.6"
grpc-example-common @ git+ssh://git@github.com/so1n/grpc-example-common.git@v0.1.5 ; python_version >= "3.8" and python_version < "4.0"
grpcio-tools==1.43.0; python_version >= "3.8" and python_version < "4.0"
grpcio==1.43.0; python_version >= "3.8" and python_version < "4.0"
itsdangerous==2.1.0; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.6"
markupsafe==2.1.0; python_version >= "3.7"
protobuf==3.19.3; python_version >= "3.8" and python_version < "4.0"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
werkzeug==2.0.3; python_version >= "3.6"
